<ng-container>
    <h3>Historial de trazabilidades por transacciones</h3>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-spinner></app-spinner>
    </div>
    <div class="chart-wrapper" *ngIf="show">
        <canvas baseChart [datasets]="lineChartData"
             [labels]="lineChartLabels" 
             [options]="lineChartOptions"
             [colors]="lineChartColors"
             [legend]="lineChartLegend" 
             [chartType]="lineChartType"
             [plugins]="lineChartPlugins">
        </canvas>
    </div>
</ng-container>