<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-graphics-torres></app-graphics-torres>
        </div>
        <div class="col-sm-6">
            <app-graphics-aplicacion></app-graphics-aplicacion>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <app-line-chart-trazabilidad></app-line-chart-trazabilidad>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           <app-line-chart-trazabilidad-transaccion></app-line-chart-trazabilidad-transaccion> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <app-line-chart-trazabilidad-proyecto ></app-line-chart-trazabilidad-proyecto>
        </div>
    </div>
</div>


