.aplicacion-input{
  width: 66%;
  margin-left: 55px;
}
.torre-input-div{
  margin-top: 20px
}
.torre-input{
display: inline-block;
width: 66%;
margin-left: 90px;
}
.btn-grabar-transaccion{
  margin-top: 60px;
  margin-left: 120px;
  width: 67%;
}
.transaccion-input-div{
  display: inline-block;
  margin-left: 45px;
  width: 66%;
}
.login-dark {
  height:450px;
  /* background:#475d62 ;url(../../assets/candado.png) */
   background:#475d62; 
  background-size:cover;
  position:relative;
  padding-top: 25px;
}
.reg-transaccion{
  margin-top: 50px;
  width: 50%;
}