<div class="container login-dark reg-transaccion">
  <form (ngSubmit)="onCrearTransaccion()" #form="ngForm">
    <h3 class="text-warning">Registro de Transacción</h3>
    <hr class="bg-white">
    <div class="form-outline mb-4">
      <label class="text-white" 
             for="inputGroupSelect01">Aplicación</label>
      <select
          class="custom-select aplicacion-input"
          id="inputGroupSelect01"
          [(ngModel)]="aplicacionSeleccionada"
          name="aplicacionSeleccionada"
          required>
          <option disabled>Selecciona...</option>
          <option *ngFor="let aplicacion of listAplicaciones" [value]="aplicacion.key">
            {{ aplicacion.nombreAplicacion }}
          </option>
        </select>
    </div>
    <div class="form-outline mb-4">
      <label class="text-white" for="i-torre-registro-transaccion">Torre</label>
      <input 
         type="email" 
         id="i-torre-registro-transaccion" 
         class="form-control torre-input"
         type="text"
         [(ngModel)]="torreValor"
         name="torreValor" 
         required/>
    </div>
    <div class="form-outline mb-4">
      <label class="text-white" for="i-torre-registro-transaccion">Transacción</label>
      <input 
         type="email" 
         id="i-torre-registro-transaccion" 
         class="form-control transaccion-input-div"
         type="text"
         [(ngModel)]="transaccionValor"
         name="transaccionValor" 
         required/>
    </div>
   <!-- Submit button -->
   <button 
   type="submit" 
   class="btn bg-info btn-block text-white btn-grabar-transaccion"
   [disabled]="!form.valid">Guardar Transacción </button>
</form>
<br>
  <div *ngIf="errorMessage" class="alert alert-danger">
    <p>{{errorMessage}}</p>
  </div>
  <div *ngIf="isLoadingSucces" class="alert alert-success">
    <p>{{successMessage}}</p>
  </div> 
  <div *ngIf="isLoading" style="text-align: center;">
    <app-spinner></app-spinner>
  </div>
</div>
