.aplicacion-input{
  width: 65%;
  margin-left: 11px;
}
.torre-input-div{
  margin-top: 20px
}
.torre-input{
width: 66%;
margin-left: 44px;
}
.btn-grabar-transaccion{
  margin-top: 13px;
  margin-left: 52px;
}
.transaccion-input-div{
  margin-top: 0px
}