.aplicacion-input-traz{
  width: 60%;
  margin-left: 88px;
}
.traz-input-div{
  margin-top: 20px
}
.traz-input{
  width: 60%;
  margin-left: 44px;
}
.btn-grabar-transaccion{
  margin-top: 13px;
  margin-left: 52px;
}
.traz-text-area{
  margin-top: 14px;
  width: 92%;
}

