.aplicacion-input-traz{
  width: 66%;
  margin-left: 60px;
}
.traz-input-div{
  margin-top: 20px
}
.cod-proy-input,.torre-input{
display: inline-block;
width: 66%;
margin-left: 15px;
}
.torre-input{
  margin-left: 18px;
  }

.traz-input{
  width: 60%;
  margin-left: 44px;
}
.btn-grabar-transaccion{
  margin-top: -5px;
  margin-left: 200px;
  width: 67%;
}
.traz-text-area{
  display: inline-block;
  margin-top: 5px;
  width: 90%;
  margin-left: 20px;
  padding-left: 0%;
  padding-right: 0%;
}
.login-dark {
  height:460px;
  /* background:#475d62 ;url(../../assets/candado.png) */
  background:#475d62; 
  background-size:cover;
  position:relative;
  padding-top: 25px;
}
.reg-trazabilidad{
  width: 80%;
  height: 530px
}
h3{
  font-size: 1.05rem;
}

.input-file{
  width: 25%;
}