<div class="container login-dark reg-trazabilidad">
  <form (ngSubmit)="onCreateTrazabilidad()" #form="ngForm">
    <h3  class="text-warning">Registro de trazabilidad</h3>
    <hr class="bg-white">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-outline mb-4">
          <label class="text-white" 
                 for="i-traz-aplicacion">Aplicación</label>
          <select 
            class="custom-select aplicacion-input-traz" 
            id="i-traz-aplicacion" 
            [(ngModel)]="nombreAplicacion"
            name="nombreAplicacion"
            (change)="getAplicacionForGetTransaccion()"
            required>
            <option disabled>Selecciona...</option>
            <option *ngFor="let item of listAplicaciones"
                    [value]="item.key"
                    >
                    {{item.nombreAplicacion}}
            </option>
            </select>
        </div>
        <div class="form-outline mb-4">
          <label class="text-white" 
                 for="ex2">Código proyecto</label>
          <input 
              type="text" 
              id="ex2" 
              class="form-control cod-proy-input"
              type="text"
              ngModel
              name="codigoProyecto" 
              required/>
        </div>
        <div class="form-outline mb-4">
          <label class="text-white" 
                 for="torre_solicitante">Torre solicitante</label>
          <input 
              type="text" 
              id="torre_solicitante" 
              class="form-control torre-input"
              type="text"
              ngModel
              name="torreValor" 
              required/>
        </div>
        <div class="form-outline mb-4">
          <label class="text-white label-desc_proyecto" 
                 for="desc_proyecto">Descripción de proyecto</label>
          <textarea
              type="text" 
              id="desc_proyecto" 
              class="form-control traz-text-area"
              type="text"
              rows="4"
              ngModel
              name="descripcionProyecto" 
              required></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-outline mb-4">
          <label class="text-white" 
                 for="i-traz-transaccion">Transacción</label>
          <select 
            class="custom-select aplicacion-input-traz" 
            id="i-traz-transaccion" 
            [(ngModel)]="transaccionSeleccionada"
            name="transaccionSeleccionada"
            required>
            <option disabled>Selecciona...</option>
            <option *ngFor="let transaccion of subListaTransacciones" 
                    [value]="transaccion.transaccionValor">
                      {{transaccion.transaccionValor}}
            </option>
            </select>
        </div>
        <div class="form-outline mb-4">
          <label class="text-white label-desc_proyecto" 
                 for="exampleFormControlTextarea1">Descripción del cambio en la transacción</label>
          <textarea
              type="text" 
              id="exampleFormControlTextarea1" 
              class="form-control traz-text-area"
              type="text"
              rows="4"
              ngModel
              name="descripcionCambioTransaccion" 
              required></textarea>
        </div>
        <div class="form-outline mb-4">
          <label class="text-white mr-2" 
                 for="customFileLang">Adjuntar documentación</label>
          <input type="file" 
                 class="custom-file-input input-file"
                 id="customFileLang" 
                 lang="es"
                 (change)="selectFile($event)">
          <table class="table table-striped table-dark" *ngIf="selectedFiles">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Archivo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fileSelected of selectedFiles; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ fileSelected.name }}</td>
                    </tr>
                  </tbody>
          </table> 
        </div>
      </div>
    </div>

    <!-- <div class="form-outline mb-4">
      <div class="col-sm-6">
        <div class="row traz-input-div custom-file">
          <label class="custom-file-label" for="customFileLang">Adjuntar documentación</label>
          <input type="file" 
                 class="custom-file-input" 
                 id="customFileLang" 
                 lang="es"
                 (change)="uploadFile($event)">
          <div>{{ uploadPercent | async }}</div>
          <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
          <progress max="100" [value]="(uploadPercent | async)"></progress>
          <div class="result" *ngIf="downloadURL | async; let uploadSrc">
            <a [href]="uploadSrc">You just uploaded this file!</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Submit button -->
    <button 
    type="submit" 
    class="btn bg-info btn-block text-white btn-grabar-transaccion"
    [disabled]="!form.valid">Guardar Trazabilidad </button>
  </form>
  <br>
  <br>
  <div *ngIf="errorMessage" class="alert alert-danger">
    <p>{{errorMessage}}</p>
  </div>
  <div *ngIf="isLoadingSucces" class="alert alert-success">
    <p>{{successMessage}}</p>
  </div> 
  <div *ngIf="isLoading" style="text-align: center;">
    <app-spinner></app-spinner>
    <div *ngIf="currentFileUpload" class="progress mt-2">
      <div
        class="progress-bar progress-bar-info"
        role="progressbar"
        attr.aria-valuenow="{{ percentage }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: percentage + '%' }"
      >
        {{ percentage }}%
      </div>
    </div>
  </div>
</div>